.SideBar__Navigation {
  display: flex;
}

.sideBar {
  width:100%;
}
.SideBar__Navigation > p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0px;
}

.SideBar__BackButton {
  display: flex;
  font-size: 13px;
  font-weight: 600;
  color: #fab818;
  border-bottom: 1px solid #fab818;
  text-decoration: none;
}

.SideBar__BackButton > p {
  margin-bottom: 0px;
}

.SideBar__BackButton:hover {
  color: black !important;
}

.Back__icon {
  height: 0.8em !important;
}

.SideBar__Location {
  display: flex;
}

/* .SideBar__Location > p {
  font-size: small;
} */

.forward__icon {
  height: 0.6em !important;
  padding-bottom: 3px;
}

.SideBar__Item {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  border-bottom: 2px solid #d8d8d8;
}

.SideBar__Item > p {
  font-size: 13px;
}

.ViewAll__button {
  font-size: 10px;
  border-radius: 20px;
  height: 20px;
  width: 50px;
  border: none;
}

.Add__icon {
  font-size: 2px;
}
